body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

/* header */
header {
    height: 100px;
    width: 100%;
    background-color: #5F5F5F;
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    /* top: 19px;
    left: 85% */
    justify-content: flex-end;
    align-items: center;
}

.header_profile {
    /* position: absolute; */
    display: flex;
    /* top: 19px;
    left: 85% */
    justify-content: flex-end;
    align-items: center;
    padding-right: 30px;
}

.header_image img {
    border-radius: 50%;
    width: 63px;
    height: 63px;
    /* padding-right: 16px; */
}

.header_name {
    display: flex;
    align-items: center;
    margin: 0 16px;
}

.header_name span {
    text-transform: uppercase;
    color: #fff;
    font-size: 16px;
}

.header_name span:hover {
    color: yellow;
    transition: all .5s;

}

/* content */
.content {
    background-color: black;
}

.main {
    height: 80%;
    margin-bottom: 20px;
    animation: fade 3s linear;
}

@keyframes fade {
    0% {opacity: 0}
 
    100% {opacity: 1}
}
.listImage {
    /* height: 15%; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 80%;
    margin: 0 auto;
  
}
.listImage div{
    flex: 1;
    padding: 0;
    /* padding: 10px; */
    margin: 10px;

    padding-bottom: 0;
}

img {
    width: 100%;
    height: 100%;
    object-fit: fill;
    object-position: center;
    padding: 0;
    margin: 0;
    display: block;
   
}

 .active {
    /* border: 1px solid rgb(46, 46, 241); */
    margin: 0;
    /* height: 146px; */
    box-shadow: 0  0 1px 1px #FFC045;
    
}

.content_image {
    /* background-image: url(./images/bg_1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; */
    height: 506px;
    margin-bottom: 36px;
    animation: slide 20s infinite;
}

@keyframes slide {
    0% {
        background-image: url(./images/bg2.png);
    }

    25% {
        background-image: url(./images/bg3.png);
    }

    50% {
        background-image: url(./images/bg4.png);
    }

    75% {
        background-image: url(./images/bg5.png);
    }
    100% {
        background-image: url(./images/bg_1.png);
    }
}



.content_select_image {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.content_select_image img {
    width: 159px;
    height: 100px;
    margin:  20px;
}

.content_game_information {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    padding-top: 60px;
    font-size: 24px;
    width: 75%;
    margin: 0 auto;
    color: white;
    flex-wrap: wrap;
}

.information_left {
    width: 582px;

}

.information_right {
    width: 611px
}

.game_title {
    font-size: 30px;
    color: #FFC045;

}

.information_more {
    display: flex;
    color: #FFC045;
}

.information_more_left {
    margin-right: 20px;
}

.content_button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px;
}

.button_trailer {
    width: 180px;
    height: 66px;
    background-color: #FFC045;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

/* The Modal (background) */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
    /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* footer */
footer {
    height: 190px;
    background-color: #1B1C20;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    flex-wrap: wrap-reverse;

}

.footer_map iframe {
    height: 120px;
    width: 120px;
}

.zoom {
    transition: transform .5s;
    /* margin: 0 auto; */
}

.zoom:hover {
    -ms-transform: scale(1.5);
    /* IE 9 */
    -webkit-transform: scale(1.5);
    /* Safari 3-8 */
    transform: scale(1.5);
}

@media screen and (max-width: 575px) {
    header {
        display: flex;
        /* top: 19px;
        left: 85% */
        justify-content: flex-start;
        align-items: center;
        padding-left: 30px;
    }
    .header_profile {
        padding-left: 30px;
    }
    footer {
        height: 250px;
        flex-direction: column;
        justify-content: space-evenly;
    }
}